Legacy/BetterclassifiedsAdmin/Service References/AdminDataService/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BetterclassifiedCore.CRM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BetterclassifiedCore.CRM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element name="_abn" nillable="true" type="xs:string" />
      <xs:element name="_address1" nillable="true" type="xs:string" />
      <xs:element name="_address2" nillable="true" type="xs:string" />
      <xs:element name="_businessCategoryCode" nillable="true" type="xs:string" />
      <xs:element name="_businessName" nillable="true" type="xs:string" />
      <xs:element name="_city" nillable="true" type="xs:string" />
      <xs:element name="_email" nillable="true" type="xs:string" />
      <xs:element name="_firstName" nillable="true" type="xs:string" />
      <xs:element name="_industryCode" nillable="true" type="xs:string" />
      <xs:element name="_lastName" nillable="true" type="xs:string" />
      <xs:element name="_phone" nillable="true" type="xs:string" />
      <xs:element name="_postCode" nillable="true" type="xs:string" />
      <xs:element name="_refNumber" nillable="true" type="xs:string" />
      <xs:element name="_state" nillable="true" type="xs:string" />
      <xs:element name="_username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>