TaskScheduler/Service References/NotificationService/NotificationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExpiredAdEmailNotification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="daysBeforeExpiry" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpiredAdEmailNotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExpiredAdEmailNotificationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExpiredAdEmailNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:ExpiredAdEmailNotification" />
  </wsdl:message>
  <wsdl:message name="ExpiredAdEmailNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:ExpiredAdEmailNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="NotificationServiceSoap">
    <wsdl:operation name="ExpiredAdEmailNotification">
      <wsdl:input message="tns:ExpiredAdEmailNotificationSoapIn" />
      <wsdl:output message="tns:ExpiredAdEmailNotificationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationServiceSoap" type="tns:NotificationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExpiredAdEmailNotification">
      <soap:operation soapAction="http://tempuri.org/ExpiredAdEmailNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationServiceSoap12" type="tns:NotificationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExpiredAdEmailNotification">
      <soap12:operation soapAction="http://tempuri.org/ExpiredAdEmailNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="NotificationServiceSoap" binding="tns:NotificationServiceSoap">
      <soap:address location="http://localhost/iFlog/Service/NotificationService.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationServiceSoap12" binding="tns:NotificationServiceSoap12">
      <soap12:address location="http://localhost/iFlog/Service/NotificationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>